html {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}

.PWA_gridTemplate {
    padding-top: 3vh;
}

header {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 3vh 3vw;
    border-bottom: 1px solid #e4e4e4;
}

header > img {
    max-height: 4vh;
    width: auto;
}

header > nav {
    font-size: 25px;
}

header > nav > a {
    margin-left: 1em;
    color: #443b3a;
    transition: .2s;
}
header > nav > a:hover {
    color: #29b7c5;
}



.PWA_backendImports {
    margin-inline: 5vw;
    margin-bottom: 3vh;

    border-bottom: 1px solid;
}



.PWA_article {
    margin-top: 3vh;
}
.intro {
    margin-bottom: 3vh;
}
main img {
    max-width: 100%;
}
.figure-img {
    width: auto;
    margin-inline: auto;
}